[Interface]
## Local Address : A private IP address for wg0 interface.
Address = 10.20.10.2/24
ListenPort = {{ server_listen_port }}
DNS = 1.1.1.1

## local client privateky
PrivateKey = {{ client_private_key }}


### See https://man7.org/linux/man-pages/man8/wg-quick.8.html kill-switch
[Peer]
# remote server public key
PublicKey = {{ server_public_key }}
# Endpoint = 3.12.84.127:33333
Endpoint = {{ server_public_ip }}:{{ server_listen_port }}
# AllowedIPs = 0.0.0.0/0
AllowedIPs = {{ allowed_ips }}
